.accordion * {
  border-width: 1px;
}

.closed:hover,
.batched {
  background-color: var(--color-background-main);
  border-color: var(--color-border-light);
}

.expanded {
  border-color: var(--color-border-light) !important;
}

.expanded :global .MuiAccordionSummary-root {
  background-color: var(--color-background-main);
}
