.container {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  border-radius: 0 !important;
  background-color: var(--color-background-main);
  margin: auto;
  gap: 8px;
  padding: 0 24px;
  z-index: 1201
}

.element {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newtxbutton {
  flex: 1;
  border: none;
  align-items: flex-start;
}

.logo {
  flex: 1;
  border: none;
  align-items: flex-start;
  max-width: 100px;
}

.logo svg {
  width: auto;
  display: block;
  color: var(--color-logo-main);
}

.menuButton {
  display: none;
  flex: 1;
  border: none;
  align-items: flex-start;
}

.networkSelector {
  border-right: none;
}

@media (max-width: 900px) {
  .logo {
    display: none;
  }

  .menuButton {
    display: flex;
  }
}

@media (max-width: 600px) {
  .networkSelector {
    padding-right: 0;
  }

  .hideMobile {
    display: none;
  }
}
