.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  font-size: 12px;
}

.MuiSelect-select {
padding-right: 28px;
}

.inlineIndicator {
  display: inline-block;
  min-width: 70px;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid var(--color-border-header);
  height: 32px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
