.tabs {
  overflow: initial;
  width: 100%;
  border-bottom: 1px solid var(--color-border-light);
}

.tabs :global .MuiTabs-scroller {
  max-width: 1152px;
  padding: 0 16px;
  margin: auto;
  width: 100%
}

.tabs :global .MuiTabs-scroller .MuiTabs-indicator {
  background-color: white;
}

.tab {
  opacity: 1;
  padding: 0;
  min-width: 0;
  margin-right: 24px;
  position: relative;
  z-index: 2;
}

.label {
  text-transform: none;
  padding-bottom: 6px;
}
